img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid-wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-up 0.4s ease;
    position: relative;
    text-align: center;
    color: white;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25pt;
    filter: brightness(0.75);
    transition: all 0.4s ease-in-out;
    transform: scale(1);
}

.grid-wrapper > div > img:hover {
    margin: 3pt;
    border-radius: 25pt;
    transform: scale(1.1);
    filter: brightness(1);
    z-index: 2;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: bold;
}

.grid-wrapper {
    position: absolute;
    top: 30vh;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270pt, 1fr));
    grid-auto-rows: 90pt;
    grid-auto-flow: row dense;
    justify-items: center;
    grid-gap: 18pt;
    height: 210vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.grid-wrapper .tall {
    grid-row: span 3;
}

.active-item {
    border-radius: 25pt;
    border: 3pt solid #ff356b;
    box-shadow: 0 0 10pt rgba(213, 33, 57, 0.85);
}

.active-item:hover {
    border-radius: 25pt;
    border: 4pt solid #ff356b;
    box-shadow: 0 0 10pt rgba(213, 33, 57, 0.85);
    transition: border 0.1ms;
}