.grid-title {
    grid-area: title;
}

.title {
    color: whitesmoke;
    padding-top: 30vh;
}

.first-text {
    font-weight: bold;
    font-size: 3.5rem;
}

.second-text {
    font-size: 1.5rem;
}
