@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --back-color: #000015;
}

*, body {
    margin: 0;
    padding: 0;
    scrollbar-width: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--back-color);
}

*::-webkit-scrollbar {
    width: 0;
}